git+https://github.com/pyrogram/pyrogram@master
TgCrypto==1.2.2
pytgcalls[pyrogram]==3.0.0.dev9
python-dotenv
youtube_dl
youtube_search_python
youtube-dl
pytube
youtube_search
requests
sqlalchemy==1.3.23
psycopg2-binary 
ffmpeg-python
moviepy